.fundohenrique{
    background-color: purple;
}

.logo{
    width: 20%;
}

.fonteh{
    font-size: 1.4em;
}

.minhacor{
    color: black;
}

.accordion {
    padding-top: 65px;
}

.competencia{
    padding: 30px;
    text-align: center;
}

body{
    background-color:darkviolet;
}

footer{
    text-align: center;
    font-size: 1.3em;
}

.vdteatro{
    width: 500px;
}

.ft{
    width: 500px;
    padding: 50px;
}

.pp, .pq{
padding: 40px;
}

.pht{
    width: 70%;
}



